/*Google Search DIV*/
/*Google Search Main Element*/
/*This block of code is for the main element for the google search*/
.google-search {
    margin-top: 20px;
}

/*This styles the three steps divs within the google search section*/
.step-one,
.step-two,
.step-three {
    background-color: #f0f0f0;
    height: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    border-bottom: 2px solid #808080;
}

.step-one,
.step-two {
    padding-top: 45px;
}

.step-two {
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

.step-three {
    padding-top: 25px
}

.step-one h6,
.step-two h6,
.step-three h6 {
    margin-bottom: 10px;
}

/*This styles the left radio buttons in step three*/
.left-options {
    text-align: right;
    text-transform: capitalize;
    font-size: 15px;
    border-right: 2px solid #808080;
    padding: 0px 10px;
    margin-left: auto;
    letter-spacing: 3px;
}

/*This styles the right radio buttons in step three*/
.right-options {
    text-align: left;
    text-transform: capitalize;
    font-size: 15px;
    padding: 0px 10px;
    letter-spacing: 3px;
}

/*This styles the gaps for the radio buttons labels*/
.left-options label,
.right-options label {
    margin: 2px 0px;
}

/*This styles the reset button for the google maps search*/
#reset-btn {
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: 5px;
    height: 35px
}

/*Show and Hide Results*/
/*This styles the show heading for the google search results*/
.result-heading-show {
    display: none;
    background-color: #f0f0f0;
    padding: 10px 5px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
}

/*This styles the fontawesome chevron up icon*/
.fa-chevron-down {
    font-size: 15px;
    vertical-align: text-top;
    margin-top: 4px
}

/*This styles the hide heading for the google search results*/
.result-heading-hide {
    display: block;
    background-color: #f0f0f0;
    padding: 10px 5px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-top: 2px solid #808080;
    border-bottom: 2px solid #808080;
}

/*This styles the fontawesome chevron down icon*/
.fa-chevron-up {
    font-size: 15px;
    vertical-align: text-top;
    margin-top: 4px
}

#city-town {
    width: 75%;
}

#country-list {
    width: 75%;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.result-con {
    cursor: pointer;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.card-body {
    background-color: #f0f0f0;
    border: 1px solid #808080;
    margin: .5px;
}

.pop-up-con {
    display: none;
}

.gmapMarkers {
    width: 20px;
    height: 34px;
    margin: 10px;
}

#gmaps-popup-content {
    font-weight: normal;
}

.popUp-table-icon {
    font-size: 40px;
    color: green;
    padding-right: 20px;
    text-align: right
}

#popUp-name {
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #000000;
    text-align: left;
}

.popUp-table-row {
    height: 18px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.popUp-attrib-name {
    font-weight: bold;
    text-align: right;
}

#popUp-rating {
    font-size: 20px;
    padding: 0px 0px 5px 0px;
}

.popUp-website a {
    color: #000000;
}

#popUp-website a:hover {
    color: #000000;
    text-decoration: underline;
}

/*Media Queries*/

@media (min-width: 2560px) {

    #city-town {
        width: 60%;
    }

    #country-list {
        width: 60%;
    }

    .result-con {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto
    }

}

@media (max-width: 991px) {

    #city-town {
        width: 50%;
    }

    #country-list {
        width: 50%;
    }

}

@media (max-width: 768px) {

    #city-town {
        width: 50%;
    }

    #country-list {
        width: 50%;
    }

}

@media (max-width: 425px) {

    #city-town {
        width: 75%;
    }

    #country-list {
        width: 75%;
    }

    .result-con {
        display: block;
    }

    .popUp-table-icon {
        font-size: 30px;
    }

    #popUp-name {
        font-size: 12px;
    }

    .popUp-table-row {
        font-size: 12px;
    }

    .popUp-attrib-name {
        font-size: 12px;
    }

    #popUp-rating {
        font-size: 16px;
    }

    /*I used !important here to overide the gmap class inline style for the infow window*/
    .gm-style .gm-style-iw-c {
        max-width: 275px !important;
    }
}
