/*Local Search DIV*/
/*Local Search Search Main Element*/
.local-search {
    margin-top: 10px;
    min-height: calc(100vh - 280px);
}

/*This block of code is for the Important notice banner*/
.notice-message {
    background-color: #595959;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
}

/*This block of code styles the select a trade search for local search*/
.empty-space-local,
.choose-trade-local {
    background-color: #f0f0f0;
    height: 200px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.choose-trade-local {
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

.choose-trade-local h3 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.choose-trade-local label {
    margin-bottom: 10px
}

/*This styles the left radio buttons in select a trade*/
.left-options-local {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 10px;
    letter-spacing: 5px;
}

/*This styles the middle radio buttons in select a trade*/
.middle-options-local {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 10px;
    letter-spacing: 5px;
    border-left: 2px solid #808080;
    border-right: 2px solid #808080;
}

/*This styles the middle radio buttons in select a trade*/
.right-options-local {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 10px;
    letter-spacing: 5px;
}


/*This styles the reset button for the locals search*/
#reset-btn-local {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    height: 35px
}

/*This styles the dynamic divs from the js file*/
.dynamic-business-divs {
    padding: 15px;
    width: 100%;
}

/*This styles the bootstrap card class for the dynamic divs*/
.card {
    background-color: #f0f0f0;
    border-radius: 0;
    display: none;
}

/*This styles the headings in the dynamic divs bootstrap card*/
.heading-card {
    text-align: center;
    margin-top: 10px
}

/*This styles the icons in the dynamic divs bootstrap card*/
.icon-card {
    text-align: center;
    font-size: 60px;
}

/*This styles the business info in the dynamic divs bootstrap card, i used important to override the inline style*/
.info-card {
    background-color: #f0f0f0;
    border: none !important;
    display: none;
    text-align: center;
}

/*This block of code styles the table and its columns within in the dynamic divs bootstrap card*/
.table-card {
    margin: 0 auto;
}

.attrib-col1 {
    text-align: right;
    padding-right: 10px;
}

.attrib-col2 {
    text-align: left;
}

/*This styles the more and less button within the dynamic divs bootstrap card*/
.more-btn,
.less-btn {
    width: 125px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

/*This gives the button a hover effect within dynamic divs bootstrap card*/
.more-btn:hover,
.less-btn:hover {
    background-color: transparent;
}
