/*4K Screen*/
@media (max-width: 2560px) {}

/*Large Laptop*/
@media (max-width: 1440px) {}

/*Medium Laptop*/
@media (max-width: 1024px) {}

/*Small Laptop*/
@media (max-width: 991px) {}

/*Tablet*/
@media (max-width: 768px) {

    /*Nav Bar*/
    .main-site-heading {
        text-align: center;
        padding-top: 10px;
    }

    .main-site-heading a {
        font-size: 30px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-top: 5px;
        margin-left: 0px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-top: 5px;
        margin-left: 0px;
    }
}

/*Large Mobile*/
@media (max-width: 425px) {

    /*Nav Bar*/
    .main-site-heading {
        text-align: center;
        padding-top: 10px;
    }

    .main-site-heading a {
        font-size: 30px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-top: 5px;
        margin-left: 0px;
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-top: 5px;
        margin-left: 0px;
    }
}

/*Medium Mobile*/
@media (max-width: 375px) {}

/*Small Mobile*/
@media (max-width: 320px) {}
