/*4K Screen*/
@media (min-width: 2560px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 50px;
        letter-spacing: 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 30px;
        letter-spacing: 10px;
        line-height: 34px;
    }

    #dark-btn {
        font-size: 18px;
        line-height: normal;
    }

}

/*Large Laptop*/
@media (max-width: 1440px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 26px;
        letter-spacing: 15px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        letter-spacing: 5px;
        line-height: 18px;
    }

    #dark-btn {
        line-height: normal;
    }

}

/*Medium Laptop*/
@media (max-width: 1024px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 20px;
        letter-spacing: 10px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 16px;
    }

    #dark-btn {
        line-height: normal;
    }

    .nav-link {
        margin-left: 5px;
    }

}

/*Small Laptop*/
@media (max-width: 991px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 26px;
        letter-spacing: 10px
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 18px;
        letter-spacing: 5px;
    }

}

/*Tablet*/
@media (max-width: 768px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 26px;
        letter-spacing: 10px
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 18px;
        letter-spacing: 5px;
    }

    #dark-btn {
        font-size: 12px;
    }
}

/*Large Mobile*/
@media (max-width: 425px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 22px;
        margin-right: 0px;
        letter-spacing: 2px
    }

    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 14px;
        letter-spacing: 4px;
    }

    .navbar-light .navbar-toggler {
        padding: 1px 6px;
    }

    /*Footer*/
    .social-logos {
        margin-bottom: 5px
    }

    #contactme-link {
        margin-bottom: 5px;
    }

    .empty-space {
        display: none;
    }

    /*Back To Top Button*/
    #to-top-btn {
        bottom: 175px;
        right: 5px;
    }

}

/*Medium Mobile*/
@media (max-width: 375px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 19px;
        margin-right: 0px;
        letter-spacing: 2px
    }

}

/*Small Mobile*/
@media (max-width: 320px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 15px;
        margin-right: 0px;
        letter-spacing: 2px
    }

}
