/*4K Screen*/
@media (min-width: 2560px) {

    /*Nav Bar*/
    .navbar-light .navbar-brand {
        font-size: 50px;
        letter-spacing: 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 25px;
        letter-spacing: 10px;
        line-height: 44px;
    }

    /*Dark Mode button*/
    #dark-btn {
        font-size: 18px;
        line-height: normal;
    }

    /*Google search step section*/
    .step-one,
    .step-two {
        padding-top: 30px;
    }

    /*Local Search*/
    /*This block of code is for the Important notice banner for the text scrolling across*/
    .notice-message {
        font-size: 30px;
    }

    .choose-trade-local {
        height: 100%;
    }

    .choose-trade-local h3 {
        font-size: 30px;
    }

    .choose-trade-local label {
        margin-bottom: 10px
    }

    /*This styles the left radio buttons in select a trade*/
    .left-options-local,
    .middle-options-local,
    .right-options-local {
        font-size: 18px;
    }

    /*This styles the reset button for the google maps search*/
    #reset-btn-local {
        font-size: 25px;
        height: 45px;
        margin-bottom: 10px;
    }

    .card {
        margin-bottom: 5px;
    }

    .card-body {
        padding: 5px;
    }

    .table-card h6 {
        font-size: 22px;
    }

    .heading-card {
        text-align: center;
        margin-top: 10px;
        font-size: 50px;
    }

    .icon-card {
        font-size: 70px;
    }

    .more-btn,
    .less-btn {
        width: 150px;
        font-size: 22px;
    }
}

/*Large Laptop*/
@media (max-width: 1440px) {

    /*Nav Bar Section*/
    .navbar-light .navbar-brand {
        font-size: 26px;
        letter-spacing: 15px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        letter-spacing: 5px;
        line-height: 26px;
    }

    /*Dark Mode button*/
    #dark-btn {
        line-height: normal;
    }

    /*Google search step section*/
    .step-one .step-two {
        padding-top: 30px;
    }

    /*Left radio buttons in step three*/
    .left-options {
        margin-left: auto;
        padding: 0 10px;
        font-size: 12px;
        letter-spacing: 4px;
    }

    /*Right radio buttons in step three*/
    .right-options {
        margin-left: 0;
        padding: 0 10px;
        font-size: 12px;
        letter-spacing: 4px;
    }
}

/*Medium Laptop*/
@media (max-width: 1024px) {

    /*Nav Bar Section*/
    .navbar-light .navbar-brand {
        font-size: 20px;
        letter-spacing: 10px;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 14px;
        line-height: 26px;
    }

    .nav-link {
        margin-left: 5px;
    }

    /*Dark Mode button*/
    #dark-btn {
        line-height: normal;
    }

    /*Google search step section*/
    .step-one,
    .step-two {
        padding-top: 25px;
    }

    /*Left radio buttons in step three*/
    .left-options {
        font-size: 12px;
        letter-spacing: 0px;
        margin-top: 5px;
        padding: 0px 10px;
        margin-left: auto;
    }

    /*Right radio buttons in step three*/
    .right-options {
        font-size: 12px;
        letter-spacing: 0px;
        margin-top: 5px;
        padding: 0px 10px;
        margin-left: 0px;
    }

    /*Local Search*/
    .choose-trade-local label {
        margin-bottom: 10px
    }

    /*This styles the left radio buttons in select a trade*/
    .left-options-local,
    .middle-options-local,
    .right-options-local {
        font-size: 15px;
    }

    .card-body {
        padding: 5px;
    }

    /*This styles the reset button for the google maps search*/
    #reset-btn-local {
        margin-top: 25px;
    }

    .table-card h6 {
        font-size: 14px;
    }

    .heading-card {
        text-align: center;
        margin-top: 10px;
        font-size: 35px;
    }

    .icon-card {
        font-size: 45px;
    }

    .more-btn,
    .less-btn {
        width: 105px;
        font-size: 14px;
    }
}

/*Small Laptop*/
@media (max-width: 991px) {

    /*Nav Bar Section*/
    .navbar-light .navbar-brand {
        font-size: 26px;
        letter-spacing: 10px
    }

    .navbar-light .navbar-nav .nav-link {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 18px;
        letter-spacing: 5px;
    }

    /*Google search step section*/
    .step-one {
        padding-top: 45px;
    }

    .step-two {
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #808080;
        padding-top: 30px;
    }

    /*Left radio buttons in step three*/
    .left-options {
        text-align: right;
        font-size: 15px;
        letter-spacing: 3px;
        padding: 0px 20px;
        border-right: 1px solid #808080;
    }

    /*Right radio buttons in step three*/
    .right-options {
        text-align: left;
        font-size: 15px;
        letter-spacing: 3px;
        margin-left: 0px;
        padding: 0px 20px;
        border-left: 1px solid #808080;
    }

    /*Result heading Show and Hide*/
    #results {
        display: none;
    }

    /*Show Heading*/
    .result-heading-show {
        display: block;
        font-size: 20px;
    }

    /*Font awesome icon*/
    .fa-chevron-down {
        font-size: 15px;
    }

    /*Hide Heading*/
    .result-heading-hide {
        display: none;
        font-size: 20px
    }

    /*Font awesome icon*/
    .fa-chevron-up {
        font-size: 15px;
    }

    /*Local Search*/
    /*This block of code is for the Important notice banner for the text scrolling across*/
    .notice-message {
        font-size: 16px;
    }

    /*This styles the three steps divs within the google search section*/
    .empty-space-local {
        display: none;
    }

    .choose-trade-local {
        border: none;
        height: 100%;
    }

    .choose-trade-local h3 {
        font-size: 24px
    }

    .choose-trade-local label {
        margin-bottom: 10px
    }

    /*This styles the reset button for the locals search*/
    #reset-btn-local {
        margin-bottom: 10px;
    }

    /*This styles the left radio buttons in select a trade*/
    .left-options-local,
    .middle-options-local,
    .right-options-local {
        font-size: 15px;
        border: none;
    }

    .card {
        margin-bottom: 5px;
    }

    .card-body {
        padding: 5px;
    }

    .table-card h6 {
        font-size: 16px;
    }

    .heading-card {
        text-align: center;
        margin-top: 10px
    }

    .icon-card {
        font-size: 50px;
    }

    .more-btn,
    .less-btn {
        width: 115px;
        font-size: 16px;
    }
}


/*Tablet*/
@media (max-width: 768px) {

    /*Nav Bar Section*/
    .navbar-light .navbar-brand {
        font-size: 26px;
        letter-spacing: 10px
    }

    .navbar-light .navbar-nav .nav-link {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 18px;
        letter-spacing: 5px;
    }

    /*Dark Mode button*/
    #dark-btn {
        font-size: 12px;
    }

    /*Google search step section*/
    .step-one {
        padding-top: 45px;
    }

    .step-two {
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #808080;
        padding-top: 30px;
    }

    /*Search Results Container*/
    #results {
        display: none;
    }

    /*Show Heading*/
    .result-heading-show {
        display: block;
        font-size: 20px;
    }

    /*Font awesome icon*/
    .fa-chevron-down {
        font-size: 15px;
    }

    /*Hide Heading*/
    .result-heading-hide {
        display: none;
        font-size: 20px
    }

    /*Font awesome icon*/
    .fa-chevron-up {
        font-size: 15px;
    }
}

/*Large Mobile*/
@media (max-width: 425px) {

    /*Nav Bar Section*/
    .navbar {
        padding: 10px
    }

    .navbar-light .navbar-brand {
        font-size: 23px;
        margin-right: 0px;
        letter-spacing: 2px
    }

    .navbar-light .navbar-nav .nav-link {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-top: 5px;
        font-size: 14px;
        letter-spacing: 4px;
    }

    /*Google search step section*/
    .step-one,
    .step-two,
    .step-three {
        padding-top: 15px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .step-one {
        padding-top: 45px;
    }

    .step-two {
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #808080;
        padding-top: 30px;
    }

    /*Left radio buttons in step three*/
    .left-options {
        text-align: right;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
        text-transform: capitalize;
        padding: 0px 10px;
        margin-left: 20px;
    }

    /*Right radio buttons in step three*/
    .right-options {
        text-align: left;
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 10px;
        text-transform: capitalize;
        padding: 0px 10px;
    }

    /*Search Results Container*/
    #results {
        display: none;
    }

    /*Show Heading*/
    .result-heading-show {
        display: block;
        font-size: 16px;
    }

    /*Font awesome icon*/
    .fa-chevron-down {
        font-size: 10px;
    }

    /*Hide Heading*/
    .result-heading-hide {
        display: none;
        font-size: 16px
    }

    /*Font awesome icon*/
    .fa-chevron-up {
        font-size: 10px;
    }

    /*Footer logo and link*/
    .social-logos {
        margin-bottom: 5px
    }

    #contactme-link {
        margin-bottom: 5px;
    }

    /*Bootstrap empty column in footer*/
    .empty-space,
    .empty-space-local {
        display: none;
    }

    /*This styles the three steps divs within the google search section*/
    .choose-trade-local {
        height: 320px;
        border: none;
    }

    /*This styles the left radio buttons in select a trade*/
    .left-options-local {
        text-align: center;
        font-size: 15px;
    }

    /*This styles the middle radio buttons in select a trade*/
    .middle-options-local {
        font-size: 15px;
        border: none;
    }

    /*This styles the middle radio buttons in select a trade*/
    .right-options-local {
        font-size: 15px;
    }

    .plumber-1,
    .plasterer-1 {
        border: none;
    }

    /*Local Search*/
    /*This block of code is for the Important notice banner for the text scrolling across*/
    .notice-message {
        font-size: 16px;
    }

    /*This styles the three steps divs within the google search section*/
    .empty-space-local {
        display: none;
    }

    .choose-trade-local {
        border: none;
        height: 100%;
    }

    .choose-trade-local h3 {
        font-size: 24px
    }

    .choose-trade-local label {
        margin-bottom: 10px
    }

    /*This styles the reset button for the locals search*/
    #reset-btn-local {
        margin-bottom: 10px;
    }

    /*This styles the left radio buttons in select a trade*/
    .left-options-local {
        font-size: 15px;
    }

    /*This styles the middle radio buttons in select a trade*/
    .middle-options-local {
        font-size: 15px;
        border: none;
    }

    /*This styles the middle radio buttons in select a trade*/
    .right-options-local {
        font-size: 15px;
    }

    .card {
        margin-bottom: 5px;
    }

    .card-body {
        padding: 5px;
    }

    .table-card h6 {
        font-size: 15px;
    }

    .heading-card {
        text-align: center;
        margin-top: 10px
    }

    .icon-card {
        font-size: 50px;
    }

    .more-btn,
    .less-btn {
        width: 115px;
        font-size: 16px;
    }

    /*Back To Top Button*/
    #to-top-btn {
        bottom: 180px;
        right: 5px;
    }

}

/*Medium Mobile*/
@media (max-width: 375px) {

    /*Nav Bar Section*/
    .navbar {
        padding: 5px
    }

    .navbar-light .navbar-brand {
        font-size: 21px;
        margin-right: 0px;
        letter-spacing: 2px
    }

    /*Google search step section*/
    .step-two {
        padding-top: 30px;
    }

    .step-three {
        padding-top: 20px;
    }
}

/*Small Mobile*/
@media (max-width: 320px) {

    /*Nav Bar Section*/
    .navbar {
        padding: 5px
    }

    .navbar-light .navbar-brand {
        font-size: 17px;
        margin-right: 0px;
        letter-spacing: 2px
    }

    /*Google search step section*/
    .step-two {
        padding-top: 20px;
    }

    .step-three {
        padding-top: 25px;
    }

    /*Left radio buttons in step three*/
    .left-options {
        text-align: right;
        font-size: 12px;
        letter-spacing: 0px;
        margin-top: 10px;
        text-transform: capitalize;
        padding: 0px 10px;
        margin-left: 20px;
    }

    /*Right radio buttons in step three*/
    .right-options {
        text-align: left;
        font-size: 12px;
        letter-spacing: 0px;
        margin-top: 10px;
        text-transform: capitalize;
        padding: 0px 10px;
    }

    /*Show Heading*/
    .result-heading-show {
        display: block;
        font-size: 15px;
    }

    /*Font awesome icon*/
    .fa-chevron-down {
        font-size: 10px;
        margin-top: 5px;
    }

    /*Hide Heading*/
    .result-heading-hide {
        display: none;
        font-size: 15px
    }

    /*Font awesome icon*/
    .fa-chevron-up {
        font-size: 10px;
        margin-top: 5px;
    }

    /*Local Search*/
    .choose-trade-local {
        border: none;
    }

    .choose-trade-local h3 {
        font-size: 18px
    }

    .choose-trade-local label {
        margin-bottom: 10px
    }

    /*This styles the left radio buttons in select a trade*/
    .left-options-local {
        font-size: 13px;
    }

    /*This styles the middle radio buttons in select a trade*/
    .middle-options-local {
        font-size: 13px;
    }

    /*This styles the middle radio buttons in select a trade*/
    .right-options-local {
        font-size: 13px;
    }

    .table-card h6 {
        font-size: 12px;
    }

    .heading-card {
        text-align: center;
        font-size: 32px;
        margin-top: 10px
    }

    .icon-card {
        font-size: 40px;
    }

    .more-btn,
    .less-btn {
        width: 100px;
        font-size: 13px;
    }

    .modal-title {
        font-size: 22px;
    }

    .message-subject label {
        font-size: 14px;
    }
}
