/*Importing google fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

/*Global CSS selectors which affect all the webpages*/
/*Setting font to Montserrat and the text color to black*/
body {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #95ff00;
}

/*Setting all class row to have no left or right margin*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*Setting all a elements text color to black*/
a {
    color: #000000;
}

.dark-mode {
    background-color: #000000;
}

/*********************************************************************************/
/*Nav Bar*/
/*Had to use important to overide the original bg color*/
.bg-light {
    background-color: #f0f0f0 !important;
}

.navbar-light .navbar-brand {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500;
    font-size: 30px;

}

.navbar-light .navbar-brand:hover {
    color: #ffffff;
    background-color: #808080;
}

.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #808080;
}

.nav-link {
    margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link.active-nav {
    color: #ffffff;
    background-color: #808080;
}

#dark-btn {
    font-size: 10px;
    text-align: center;
    line-height: normal;
}

.navbar-light .navbar-toggler {
    border-color: #808080;
}

.navbar-light .navbar-toggler-icon {
    background-image: none;
}

.menu-icon {
    font-size: 22px;
    color: #000000;
    text-align: center;
    margin-top: 4px;
}

/*Main Section*/
.main-con {
    height: 1000px;
    margin: 20px 0px;
}

/*Footer*/
.footer-con {
    background-color: #f0f0f0;
}

.quick-links {
    text-align: center;
}

#quick-links-heading {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0px;
}

.quick-links h6 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.quick-links h6 a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #808080;
}

.social-logos {
    font-size: 35px;
    letter-spacing: 10px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#social_icons a:hover {
    color: #808080;
}

.copyright {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.copyright a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #808080;
}

#copy {
    font-size: 14px;
}

/*Back To Top Button*/
#to-top-btn {
    background-color: #f0f0f0;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 123px;
    right: 5px;
    transition: background-color 1s,
        opacity 1s, visibility 1s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.fa-angle-double-up {
    margin-top: 10px;
}

#to-top-btn:hover {
    cursor: pointer;
    background-color: #808080;
    color: #ffffff;
}

#to-top-btn.visible {
    opacity: 1;
    visibility: visible;
}
