/*Importing google fonts*/
@import url('https://fonts.googleapis.com/css?family=Lexend+Tera:100,200,300,400,500,600,700');

/*Global CSS selectors which affect all the webpages*/
/*Setting font to Lexend Tera and the text color to black*/
body {
    font-family: "Lexend Tera", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    border: 0;
}

/*Setting all class row to have no left or right margin*/
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/*Setting all a elements text color to black*/
a {
    color: #000000;
}

/*index.html*/
#main-site-heading {
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
}
